@font-face {
	font-family: 'Circular';
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Book.eot');
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Book.woff') format('woff'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Circular';
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Medium.eot');
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Medium.woff') format('woff'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Circular';
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Bold.eot');
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Bold.woff') format('woff'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Circular';
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Black.eot');
	src: url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Black.woff') format('woff'),
		url('https://i.forbesimg.com/assets/fonts/Circular/CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}